body {
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #eee;
}
main {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1;
    color: inherit;
}
form{
    display: inline;
}
ul{
    list-style-type: none;
    cursor: default;
}
ul li{
    width: 300px;
}
.checked{
    color: lightgray;
}